<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Hotel Casa Marco{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% if request.user.is_staff %}{% url 'home_admin' %}{% else %}{% url 'home' %}{% endif %}">Hotel Casa Marco</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a></li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'pagina_principal' %}">🏠 Home</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-3">
    {% block content %}{% endblock %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  {% if messages %}
<script>
  {% for message in messages %}
  Swal.fire({
    icon: '{% if message.tags == "success" %}success{% elif message.tags == "error" %}error{% elif message.tags == "warning" %}warning{% else %}info{% endif %}',
    title: '{{ message }}',
    confirmButtonText: 'Aceptar',
    timer: 3000,
    customClass: {
      popup: 'swal-pequeño'
    }
  });
  {% endfor %}
</script>
{% endif %}
</body>
</html>